#info {
    width: 100%;
    position: relative;
    // background: linear-gradient(to bottom,  #545479, #a8edea);
    // background: linear-gradient(to bottom, #556E85, #f7f7f7);
    background-color: #212121;
    // background-color: #f4e9be;

    .info-inner {
        width: 1250px;
        height: 100%;
        margin: 0 auto;

        article {
            width: 100%;
            padding-top: 50px;
    
            &.information {

                >h2 {
                    width: 100%;
                    height: 250px;
                    display: flex;
                    justify-content: flex-start;
                    margin-bottom: 50px;
        
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        width: 30%;
                        height: 100%;
                        
                        img {
                            height: 100%;
                            object-fit: cover;
                        }
                    }
        
                }
    
                .explain {
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    width: 100%;
                    height: 480px;
                    margin-bottom: 100px;
    
                    .poster {
                        width: 380px;
                        height: 480px;
                        background-color: #545479;
                        position: relative;
                        border-radius: 20px;
    
                        img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 300px;
                            height: 400px;
                            transform: translate(-50%, -50%);
                        }
    
                        .light {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 300px;
                            height: 400px;
                            transform: translate(-50%, -50%);
                            box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.5);
                            overflow: hidden;
                            z-index: 1;
    
                            .light-line {
                                animation: lightdown 3s ease infinite;
                                animation-delay: 3s;
                                position: absolute;
                                top: -280px;
                                width: 500px;
                                height: 130px;
                                transform: skewY(-30deg);
    
                                
                                span {
                                    display: block;
                                    width: 500px;
                                    background-color: rgba(255,255,255,0.2);
    
    
                                    &:nth-of-type(1) {
                                        height: 100px;
                                    }
    
                                    &:nth-of-type(2) {
                                        margin-top: 10px;
                                        height: 20px;
                                    }
                                }
    
                            }
    
    
                        }
    
                        >ul {
                            position: absolute;
                            display: flex;
    
                            >li {
                                width: 20px;
                                height: 20px;
                                background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(248,252,70,1) 100%);
                                border-radius: 50%;
                                animation: onoff 2s linear infinite;
                            }
    
                            &:nth-of-type(1) {
                                width: 300px;
                                top: 10px;
                                left: 40px;
                                justify-content: space-around;
                            }
    
                            &:nth-of-type(2) {
                                height: 480px;
                                flex-direction: column;
                                top: 0px;
                                left: 10px;
                                justify-content: space-evenly;
                            }
    
                            &:nth-of-type(3) {
                                width: 300px;
                                bottom: 10px;
                                left: 40px;
                                justify-content: space-around;
                            }
    
                            &:nth-of-type(4) {
                                height: 480px;
                                flex-direction: column;
                                top: 0px;
                                right: 10px;
                                justify-content: space-evenly;
                            }
    
                        }
                    }
    
                    p {
                        margin-top: 20px;
                        font: 20px/2 "NotoSansKR";
                        color: #eee;
    
                        >span {
                            &:nth-of-type(1) {
                                font: 30px/1 "HY크리스탈M";
                                color: #fff;
                            }
                            &:nth-of-type(2), &:nth-of-type(3) {
                                font-weight: bold;
                            }
                        }
                    }
    
                    .keyword {
                        position: absolute;
                        right: 0;
                        bottom: 10px;
                        display: flex;
                        gap: 15px;
    
                        li {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 10px 40px;
                            background-color: #fff;
                            border-radius: 15px;
                            color:#D6656E;
                            box-shadow: 1px 1px 2px 1px rgba(255,255,255,0.4);
                            font: bold 16px/1 "NotoSansKR";
                            letter-spacing: 1px;
                        }
    
                    }
                }

                .casting {
                    width: 100%;
                    height: auto;

                    >h2 {
                        width: 100%;
                        height: 200px;
                        display: flex;
                        justify-content: end;
                        align-items: center;

                        >img {
                            display: flex;
                            width: 350px;
                            height: 100%;
                            justify-content: center;
                            align-items: center;


                        }
                    }

                    .casting-value {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        width: 100%;
                        padding-top: 50px;
                        background-color: rgba(255,255,255,0.1);
                        border-radius: 50px;

                        >li {
                            width: 100%;
                            height: 200px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            >ul {
                                display: flex;
                                width: 45%;
                                justify-content: space-around;
                                position: relative;

                                >li {
                                    width: 100px;
                                    height: 100px;
                                    border-radius: 50%;
                                    position: relative;

                                    .casting-circle {
                                        width: 100px;
                                        height: 100px;
                                        border-radius: 50%;
                                        overflow: hidden;

                                        img {
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                        }
                                    }

                                    >p {
                                        position: absolute;
                                        width: 100%;
                                        height: 100%;
                                        border-radius: 50%;
                                        background-color: rgba(0,0,0,0.7);
                                        top:0;
                                        left: 0;
                                        transform-origin: top;
                                        transform: rotateZ(35deg);
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: #fff;
                                        opacity: 0;
                                        transition: 0.5s;
                                    }

                                    &:hover {
                                        >p {
                                            animation: hover-rotate 0.5s linear;
                                            animation-fill-mode: forwards;
                                        }
                                    }
                                }

                                &::before {
                                    display: block;
                                    width: 100%;
                                    height: 20px;
                                    text-align: center;
                                    font: 18px/20px "NotoSansKR";
                                    color: #eee;
                                    position: absolute;
                                    top: -50px;
                                    letter-spacing: 1px;
                                }
                                
                                &.jo {
                                    &::before {
                                        content: '쉬어매드니스 원장 조호진役'
                                    }
                                }

                                &.jang {
                                    &::before {
                                        content: '쉬어매드니스 미용사 장미숙役'
                                    }
                                }
                            
                                &.oh {
                                    &::before {
                                        content: '골동품 판매상 오준수役'
                                    }
                                }
                                
                                &.han {
                                    &::before {
                                        content: '여사 한보현役'
                                    }
                                }
                                
                                &.gang {
                                    &::before {
                                        content:'형사 강우진役'
                                    }
                                }

                                &.young {
                                    &::before {
                                        content:'형사 조영민役'
                                    }
                                }
                            }
                        }

                    }
                }
            }

            &.schedule {
                position: relative;
                margin-top: 50px;

                >h2 {
                    width: 100%;
                    height: 200px;
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    >img {
                        display: flex;
                        width: 800px;
                        height: 100%;
                        justify-content: center;
                        align-items: center;

                    }
                }

                .schedule-wrap {
                    width: 100%;
                    height: 2800px;
                    position: relative;
                
                    .schedule-table {
                        width: 60%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: #fff;
                        border-collapse: collapse;
                        text-align: center;
                        padding: 20px;

                        thead {
                            background-color:#D6656E;

                            tr {

                                th {
                                    padding: 20px 0;
                                    color: #fff;
                                    border: none;
                                }
                            }
                        }

                        tbody {
                            tr {
                                
                                td {
                                    padding: 5px 7px;
                                    border: 1px solid #eee;
                                    user-select: none;

                                    &:last-of-type {
                                        border-right: none;
                                    }

                                    &:hover {
                                        background-color: #fed6e3;
                                    }

                                }
                            }
                        }

                    }

                    .ticketing {
                        width: 35%;
                        position: sticky;
                        position: -webkit-sticky;
                        top: 10%;
                        left: 100%;
                        background-color: #ffffff;
                        border-radius: 20px;
                        padding: 50px;

                        h2 {
                            font: bold26px/1 "arial";
                            text-align: center;
                            margin-bottom: 30px;
                        }

                        .dayoftheweek {
                            width: 100%;
                            display: flex;
                            justify-content: space-around;
                            background-color: #D6656E;
                            border-radius: 15px;
                            margin-bottom: 20px;

                            >li {
                                padding: 5px 0;
                                color: #fff;
                            }
                        }

                        .calendar {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 50px;

                            >li {
                                >ul {
                                    width: 100%;
                                    display: flex;
                                    justify-content: space-around;

                                    >li {
                                        a {
                                            display: flex;
                                            width: 35px;
                                            height: 35px;
                                            border-radius: 50%;
                                            justify-content: center;
                                            align-items: center;
                                            color: #000;

                                            &.today {
                                                background-color: #D6656E;
                                                color: #fff;
                                                font-weight: bold;
                                            }

                                            &.click-none {
                                                pointer-events: none;
                                            }

    
                                        }
                                    }
                                }
                            }
                        }

                        .turn {
                            width: 100%;

                            >p {
                                font: 14px/1 'NotoSansKR';
                                margin-bottom: 20px;
                            }

                            >ul {
                                margin: 10px 0;
                                display: none;
                                justify-content: space-around;
                                background-color: #f8f8f8;
                                padding: 20px 0;
                                border-radius: 20px;

                                li {
                                    a {
                                        color: #000;

                                        &.active {
                                            text-decoration: underline;
                                            font-weight: bold;
                                        }
                                    }
                                }

                                &.active {
                                    display: flex;
                                }
        
                            }

                            >span {
                                font: 14px/1 'NotoSansKR';
                            }

                        }

                        .ticketing-btns {
                            margin-top: 50px;
                            display: flex;
                            flex-direction: column;
                            gap: 20px;


                            >li {
                                a {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    padding: 15px;
                                    border-radius: 15px;
                                    background-color: #D6656E;
                                    color: #fff;
                                    font: 16px/1 "NotoSansKR";
                                    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255, 0.5);

                                    >div {
                                        display: flex;
                                        overflow: hidden;
                                        text-shadow: 0 16px 0 #fff;
                            
                                        span {
                                            display: block;
                                            backface-visibility: hidden;
                                            transition: transform 0.5s ease;
                                            $i: 1;
                                            @while $i < 12 {
                                                &:nth-child(#{$i}) {
                                                    transition-delay: $i / 20 + s;
                                                }
                                                $i: $i + 1;
                                            }
                                        }
                                    }
                                    &:hover {
                                        span {
                                            transform: translateY(-16px) translateZ(0);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.theater {
                position: relative;
                margin-top: 150px;
                padding-bottom: 200px;

                >h2 {
                    width: 100%;
                    height: 200px;
                    display: flex;
                    justify-content: end;
                    align-items: center;

                    >img {
                        display: flex;
                        width: 350px;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                    }
                }


                .theater-txt {
                    margin-top: 50px;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    >div {

                        h3 {
                            font: bold 20px/2 "NotoSansKR";
                            color: #eee;
                            margin-bottom: 20px;
                        }
                        ul {
                            li {
                                font: 16px/2 "NotoSansKR";
                                color: #eee;
                            }
                        }
                    }

                }
            }
        }
    }
    
}

#info-navi {
    position: fixed;
    z-index: 1;
    top: 50%;
    right: 50px;
    padding: 30px 15px;
    border-radius: 20px;
    background-color: #D6656E;
    box-shadow:inset -2px 0px 2px 0px rgba(255,255,255, 0.3);

    li {
        >a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            font: normal 18px/1 "NotoSansKR";
            color: #fff;
            border-bottom: 1px solid rgb(255, 220, 220);
        }

        &:first-of-type {
           >a {
                font-weight: bold;
            }
        }
        
        &:last-of-type {
            >a {
                font-weight: bold;
                border-bottom: none;
            }
        }
    }
}

@keyframes onoff {
    0% {
        background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(248,252,70,1) 100%);
    }
    100% {
        background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(136,138,41,1) 100%);
    }
}

@keyframes lightdown {
    0% {
        top: -280px;
    }
    100% {
        top: 500px;
    }
}

@keyframes hover-rotate {
    0% {opacity: 0; transform: rotateZ(35deg);}
    100% {opacity: 1; transform: rotateZ(0deg);}
}

@keyframes btn {
    0% {
        left: -200%;
    }
    100% {
        left: 100%;
    }
}