#scene1 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to top, #a8edea, #fed6e3);

    .scene1-content {
        width: 100%;
        height: 100%;

        .cloud {
            position: absolute;
            opacity: 0;
            animation-direction:reverse;

            &.cloud1 {
                width: 500px;
                top: 5%;
                left: 0%;
                animation: cloud1 15s linear infinite;
                animation-delay: 1s;
            }

            &.cloud2 {
                width: 300px;
                top: 30%;
                left: 100%;
                animation: cloud2 10s linear infinite;
                animation-delay: 2s;
            }

            &.cloud3 {
                width: 250px;
                top: 50%;
                left: 0%;
                animation: cloud3 10s linear infinite;
                animation-delay: 2s;
            }
        }

        .notes {
            position: absolute;
            width: 150px;
            height: 200px;
            top: 30%;
            left: 62%;
            transform: rotate(40deg);
            display: flex;
            flex-direction: column;

            li {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;

                animation: note-anim 2s infinite ease;
                animation-fill-mode: forwards;
                -webkit-animation: note-anim 2s infinite ease;

                .note1, .note4 {
                    width: 30px;
                    height: 30px;
                }

                &:nth-of-type(even) {
                    margin-left: 10px;
                }
            }
        }

        .scroll-arrow {
            position: fixed;
            bottom: 70px;
            left: 35%;
            width: 20px;
            height: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            animation: scroll 2s linear infinite;

            li {
                width: 100%;
                height: 100%;
                position: relative;
                transform: rotate(45deg);
                opacity: 0;
                animation: opacity 2s linear infinite;

                &:nth-of-type(1) {
                    border-right: 3px solid #656eb437;
                    border-bottom: 3px solid #656eb437;
                }

                &:nth-of-type(2) {
                    border-right: 3px solid rgba(121, 132, 214, 0.658);
                    border-bottom: 3px solid rgba(121, 132, 214, 0.658);
                }

                &:nth-of-type(3) {
                    border-right: 3px solid #656EB4;
                    border-bottom: 3px solid #656EB4;
                }

            }
        }
    }
    
}

#scene2 {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, #545479, #a8edea);

    .scene2-content {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    
        .title {
            position: absolute;
            top: 7%;
            left: 50%;
            font: bold 7vw/1 'Playfair Display';
            color: #656EB4;
            transform: translateX(-50%);
            transition: 2s;
    
            span {
                width: 100%;
                float: left;
                clip-path: polygon(100% 0, 100% 100%, 0 80%, 0 80%);
                transform: translateY(-50px);
                opacity: 0;
                animation: titleAnimation 3s ease 1;
                animation-fill-mode: forwards;
                
                &::after {
                    display: block;
                    content: 'shear Madness';
                    margin-top: -10px;
                    transform: rotateX(180deg);
                    opacity: 0.05;
                }
                
            }
        }
    
        .salon1 {
            position: absolute;
            bottom: 50px;
            left: 50%;
            height: 65%;
            transform: translateX(-50%);
            transition: 1s;
        }
    
        .salon2 {
            position: absolute;
            bottom: -55%;
            left: 50%;
            height: 65%;
            transform: translateX(-50%) rotateX(180deg);
            opacity: 0.1;
            transition: 1s;
        }

        .liquid {
            position: absolute;
            top: -350px;
            left: 0;
            opacity: 0;
            width: 100%;
            transition: 1s;
        }

        .story {
            display: none;
            position: absolute;
            top: 40%;
            left: 40%;

            .story-typing {
                font: 24px/1.5 'HY크리스탈M';
                color: #fff;

                &::after {
                    content: '';
                    margin-left: 5px;
                    border-right: 2px solid #eee;
                    animation: cursor 0.9s infinite steps(2);
                }

            }
        }

        .next {
            position: absolute;
            right: -400px;
            bottom: -400px;
            width: 350px;
            height: 350px;
            transition: 1s;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.5s;
            }

            p {
                position: absolute;
                top: 80%;
                left: 75%;
                transform: translate(-50%, -50%);
                font: bold 30px/1 'Playfair Display';
                letter-spacing: 3px;
                color: #fff;
                transition: 0.5s;
            }

            &:hover {
                p {
                    font-size: 40px;
                }
            }
        }
    }

    &.on {
        .scene2-content {

            .salon1 {
                left: 20%;
                bottom: 0px;
                width: 350px;
            }

            .salon2 {
                left: 20%;
                bottom: -450px;
                width: 350px;
            }

            .title {
                z-index: 1;
                left: 20%;
                top: 30%;
                font-size: 4vw;
                color: #fff;

                span {
                    &::after {
                        display: none;
                    }
                }
            }

            .liquid {
                top: 0;
                opacity: 1;
            }

            .story {
                display: block;
            }

            .next {
                right: 0;
                bottom: 0;
            }
        }

    }
    
}

@keyframes titleAnimation {
    0% {
      transform: translateY(-50px);
      opacity: 0;
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    //   -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
    }

}

@keyframes cloud1 {
    0% {left: 0%;}
    10% {left: 10%; opacity: 1;}
    100% {left: 100%;}
}

@keyframes cloud2 {
    0% {left: 100%;}
    10% {left: 90%; opacity: 1;}
    100% {left: 0%;}
}

@keyframes cloud3 {
    0% {left: 0%;}
    10% {left: 10%; opacity: 1;}
    100% {left: 100%;}
}


@keyframes opacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


@keyframes note-anim
{
    0% {
        opacity: 0;
        transform: translate(0px,50px) translateZ(0);
    }
    30% {
        transform:rotate(15deg) translate(-10px,0px) translateZ(0);
    }
    45% {
        opacity: 1;
    }  
    60% {
        transform:rotate(-15deg) translate(10px,-50px) translateZ(0);
    }
    100% {
        opacity: 0;
        transform:rotate(0deg) translate(0px,-80px) translateZ(0);
    }
}


@keyframes scroll {
    0% {bottom: 70px;}
    100% {bottom: 20px;}
}

@keyframes cursor {
    0% { border-right: 2px solid #ddd; }
    100% { border-right: 2px solid #eee; }
}
