.suspect {
    width: 100%;
    height: 100vh;
    background-color: #D9E9ED;
    overflow: hidden;

    .suspect-top {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        padding-top: 10px;

        .line {
            height: 30%;
            position: relative;

            ul {
                position: absolute;
                top: 0;
                left: 0;
                width: 500%;
                height: 100%;
                display: flex;
                gap: 20px;
                animation: line 60s linear infinite;

                li {
                    width:  calc(100%/5);
                    height: 100%;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        opacity: .2;
                    }
                }
            }
        }

        .logo {
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                display: block;
                width: 20%;
                height: 100%;
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

        }


    }

    .suspect-bottom {
        width: 100%;
        height: 70%;
        position: relative;
        padding: 100px;

        .enter-txt {
            position: absolute;
            z-index: 1;
            left: 100px;
            bottom: 100px;
            font: 30px/1.5 'HY크리스탈M';
            color: #fff;

            span {
                color: #D6656E;
            }

            &.off {
                display: none;
            }
        }

        .suspect-content {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            .suspect-init {
                display: block;
                // display: none;
                position: relative;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;

                >.left {
                    width: 90%;
                    height: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    position: absolute;
                    top: -50px;
                    left: 50%;
                    transform: translateX(-50%);

                    .click-txt {
                        display: none;
                    }

                    .suspect-people {
                        position: absolute;
                        top: 20%;
                        left: 45%;
                        transform: translateX(-45%);
                        height: 300px;
                        width: 80%;
                        display: flex;
                    
                        >li {
                            flex: 1;
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                    
                            &:nth-of-type(even) {
                                margin-top: 30px;
                            }
                        }
                    }
                }

                >.right {
                    display: none;
                }

                &.active {
                    display: flex;
                    gap: 20px;

                    >.left {
                        display: block;
                        width: 85%;
                        height: 100%;
                        margin: 0 20px;
                        position: relative;
                        background-size: auto;
                        top: auto;
                        left: auto;
                        transform: translateX(0);

                        .click-txt {
                            display: block;
                            position: absolute;
                            left: 30px;
                            top: 0;
                            color: #656EB3;
                            font: 22px/1 'HY크리스탈M';
                
                            span {
                                color: #D6656E;
                            }
                        }

                        .suspect-people {
                            position: absolute;
                            top: 20%;
                            left: 50%;
                            transform: translateX(-50%);
                            height: 300px;
                            width: 80%;
                            display: flex;
                        
                            >li {
                                flex: 1;
                                width: 100%;
                                height: 100%;
                                cursor: pointer;

                                img {
                                    transition: 0.5s;
                                }
                        
                                &:hover {
                                    img {
                                        transform: scale(1.2);
                                    }
                                }
                        
                                &:nth-of-type(even) {
                                    margin-top: 30px;
                                }
                            }
                        }
                    }

                    >.right {
                        display: block;
                        width: 15%;
                        height: 100%;
                        position: relative;

                        .salon-sign {
                            display: flex;
                            width: 80px;
                            height: 300px;
                            padding: 10px;
                            flex-direction: column;
                            align-items: center;
                            position: absolute;
                            left: 50%;
                            top: 15%;
                            transform: translateX(-50%);
                        
                            .top {
                                flex: 1;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                position: relative;
                            
                                .circle1 {
                                    width: 90%;
                                    height: 80%;
                                    background-color: #ddd;
                                    border-radius: 50px 50px 0 0;
                                    box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.3);
                                }
                            
                                .square1 {
                                    width: 100%;
                                    height: 20%;
                                    background-color: #ddd;
                                    box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.3);
                                }
                            }
                            
                            .center {
                                flex: 4;
                                width: 85%;
                                height: 100%;
                                background-color: #fff;
                                overflow: hidden;
                                border-left: 1px solid #eee;
                                box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.3);
                            
                                ul {
                                    width: 100%;
                                    position: relative;
                                    top: -200%;;
                                    animation: down 15s linear infinite;
                            
                                    li {
                                        width: 100px;
                                        height: 20px;
                                        margin-bottom: 20px;
                                        transform: skewY(30deg);
                            
                                        &:nth-of-type(odd) {
                                            background-color: #ED2124;
                                        }
                            
                                        &:nth-of-type(even) {
                                            background-color: #323895;
                                        }
                            
                                        
                                    }
                            
                                    &:hover {
                                        animation-play-state: paused;
                                    }
                                }
                            
                                p {
                                    writing-mode: vertical-lr;
                                }
                            
                            }
                            
                            .bottom {
                                flex: 1;
                                // background-color: aquamarine;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                            
                                .circle2 {
                                    width: 90%;
                                    height: 80%;
                                    background-color: #ddd;
                                    border-radius: 0 0 50px 50px;
                                    box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.3);
                                }
                            
                                .square2 {
                                    position: relative;
                                    z-index: 1;
                                    width: 100%;
                                    height: 20%;
                                    background-color: #ddd;
                                    box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.3);
                                }
                            }

                            .next2 {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }

                }
            }

            .suspect-box {
                width: 100%;
                height: 100%;
                display: none;
                position: relative;

                .suspect-list {
                    flex: 8;
                    width: 100%;
                    height: 90%;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
    
                    >li {
                        display: none;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        align-items: center;
                        gap: 20px;
    
                        >.left {
                            width: 100%;
                            height: 100%;
                            flex: 1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            
                            >img {
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        >.right {
                            flex: 1;
                            padding: 30px 50px;
                            height: 80%;
                            font-family: 'HY크리스탈M';
                            background-color: rgba(255,255,255,0.6);
                            border-radius: 20px;

                            p {
                                &:nth-of-type(1) {
                                    font-size: 18px;
                                    color: #999;
                                    margin-bottom: 10px;
                                }

                                &:nth-of-type(2) {
                                    font-size: 26px;
                                    line-height: 1.5;
                                    margin-bottom: 40px;
                                }

                                &:nth-of-type(3) {
                                    font-size: 20px;
                                    color: #000;
                                    line-height: 1.5;
                                }
                            }

                            h2 {
                                display: inline-block;
                                font-size: 36px;
                                margin-right: 7px;
                                margin-bottom: 40px;
                            }

                            h3 {
                                color: #000;
                                display: inline-block;
                                font-size: 18px;
                                font-weight: normal;
                            }
                        }

                        &:nth-of-type(even) {
                            >.right {

                                border: 3px double #d5646d;

                                p {
                                    &:nth-of-type(2) {
                                        color: #d5646d;
                                    }
                                }
                            }
                        }

                        &:nth-of-type(odd) {
                            >.right {

                                border: 3px double #656eb3;

                                p {
                                    &:nth-of-type(2) {
                                        color: #656eb3;
                                    }
                                }
                            }
                        }

    
                        &.on {
                            display: flex;
                        }
                    }
                }

                .suspect-btn {
                    flex: 1;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 50px;

                    img {
                        flex: 1;
                        width: 150px;
                        transition: 1s;
                        cursor: pointer;

                        &:hover {
                            transform: scale(1.2)
                        }
                    }

                    p {
                        flex: 1;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font: 30px/1 'HY크리스탈M';
                    }

                }

                a {
                    position: absolute;

                    &:nth-of-type(1) {
                        top: -20px;
                        left: 0;
                    }

                    &:nth-of-type(2) {
                        bottom: -20px;
                        right: 0;
                    }
                }

                &.active {
                    display: flex;
                }

            }


        }
    }
}








.suspect-cursor {
    font-size: 30px;
    width: 10em;
    height: 10em;
    background: #000;
    background: radial-gradient(circle, rgba(0,0,0,0)0%, rgba(0,0,0,0.9) 70%, rgba(0,0,0,0.1) 100%);
    position: fixed;
    border-radius: 50%;

    box-shadow: 0 0 0 5000px #000, 1em -1em 0 5000px #000, -1em 1em 0 5000px #000, -1em -1em 0 5000px #000;
    cursor: none;

    &::after {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        border-radius: 50%;
        opacity: 0;

        transition: 0.5s linear;
    }

    &.out::after {
        opacity: 1;
    }
}




@keyframes line {
    0% {left: 0;}
    100% {left: -100%;}
}

@keyframes down {
    0% {top: -200%;}
    100% {top: 0%}
}